@layer adl-md-view {

    //
    @media screen {
        #print-app {
            & {
                inline-size: 100%;
                min-block-size: 100%;
                block-size: 100%;
                place-self: center;
                place-content: center;
                place-items: center;
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                padding: 0.5rem;
            }

            nav {
                display: flex;
                flex-direction: column;
                inline-size: 100%;
                block-size: 4rem;
                min-block-size: 4rem;
                place-self: stretch;
                place-content: stretch;
                place-items: stretch;
                background-color: transparent;
    
                //
                text-align: start;
    
                //
                button {
                    border-radius: 0.5rem;
                    block-size: 100%;
                    inline-size: max-content;
                    padding: 0.5rem;
                }
    
                //
                .row {
                    inline-size: 100%;
                    display: flex;
                    flex-direction: row;
                    flex-basis: 50%;
    
                    //
                    place-content: center;
                    place-items: center;
    
                    //
                    text-align: start;
                    justify-content: start;
                    background-color: transparent;
                }
            }
    
            main {
                font-size: 16px;
                display: flex;
                inline-size: 100%;
                align-self: center;
                flex-grow: 1;
                flex-basis: stretch;
                border-radius: 0.5rem;
                pointer-events: auto;
    
                //
                flex-direction: column;
                flex-wrap: wrap;
    
                //
                place-self: center;
                place-content: center;
                place-items: center;
    
                //
                justify-content: start;
    
                //
                user-select: auto;
                pointer-events: auto;
                overflow: auto;
    
                //
                scrollbar-color: var(--rv-color, currentColor) var(--rv-bg-color, currentColor);
            }
    
            #markdown {
                container-type: inline-size;
    
                //
                font-size: 16px;
                transform-origin: 50% 0%;
                inline-size: min(calc(var(--page-width, 210) * 1mm), 100%);
                scale: calc(var(--fit-width, 800) / (var(--page-width, 210) * 3.7795275591));
                min-block-size: max-content;
                block-size: 100%;
                overflow: hidden;
    
                //
                box-sizing: border-box;
                border-radius: 0.5rem;
    
                //
                pointer-events: auto;
                line-height: normal;
                display: block;
                user-select: text;
                text-align: justify;
    
                //
                justify-items: start;
                justify-content: start;
    
                //
                padding-inline: 16mm;
                padding-block: 16mm;
    
                //
                :where(*) {
                    pointer-events: auto;
                    user-select: text;
                }
    
                a {
                    user-select: none;
                }
    
                //
                .center {
                    justify-self: center;
                }
            }
        }
    }
};
